<section class="apps">
    <div class="wrapper">
        <p class="apps__discription">Аренда грузового транспорта – это популярная и востребованная услуга в Москве и регионах России, так как часто возникает необходимость перевоза вещей, продуктов, стройматериалов из одного места в другое. Сервис Join24 подберет тенты, борты, фургоны или рефрижераторы грузоподъемностью от 500 кг. до 20 т., наиболее выгодные по цене и близкие по месторасположению к вам. Транспортные средства (ТС) уже проверены на техническую исправность, заправлены и готовы к эксплуатации.</p>
        <div class="apps__wrap-app">
            <a href="#">
                <img src="./img/appStore.png" alt="appstore" class="apps__app">
            </a>
            <a href="#">
                <img src="./img/googlePlay.png" alt="googleplay" class="apps__app">
            </a>
        </div>
    </div>
</section>
