<section class="clients">
    <div class="wrapper">
        <h2 class="clients__title">Кто ваши потенциальные клиенты</h2>
        <div class="clients__items">
            <span class="clients__item"><span class="clients__number">01</span>Транспортные и грузовые компании, которым не хватает транспорта, чтобы справиться со своими заказами.</span>
            <span class="clients__item"><span class="clients__number">02</span>Индивидуальные предприниматели и физические лица, связанные с логистической деятельностью.</span>
            <span class="clients__item"><span class="clients__number">03</span>Клиенты, которым нужно ТС на один раз для решения конкретной задачи.</span>
            <span class="clients__item"><span class="clients__number">04</span>Компании, которые только начали работу на рынке и не имеют возможность приобрести автопарк в собственность.</span>
        </div>
    </div>
</section>
