<section class="documents">
    <div class="wrapper">
        <h3 class="documents__title">Какие нужны документы для сдачи в аренду</h3>
        <div class="documents__needs">
            <span class="documents__item">Свидетельство о регистрации автомобиля (СТС).</span>
            <span class="documents__item">Действующий полис ОСАГО, КАСКО.</span>
            <span class="documents__item">Паспорт транспортного средства (ПТС).</span>
            <span class="documents__item">Водительское удостоверение и фотография водителя.</span>
        </div>
    </div>
</section>
