<section class="opportunities">
    <div class="wrapper">
        <h2 class="opportunities__title">Новые возможности,<br> 
            которых не видно на первый взгляд</h2>
        <p class="opportunities__subtitle">Сервис Join 24 – не только позволяет взять в аренду грузовое транспортное средство через мобильный телефон. Он предоставляет новые возможности, которых не видно на первый взгляд.</p>
        <div class="opportunities__items">
            <span class="opportunities__item"><span class="opportunities__number">01</span>Благодаря онлайн-отслеживанию каждого маршрута на местности, фиксация скорости движения вы можете точно рассчитать количество времени, которое затратит водитель для перевозки груза.</span>
           <span class="opportunities__item"><span class="opportunities__number">02</span>Подробная статистика поездок позволяет увидеть все ошибки в их планировании. Фиксация показателей позволит точнее рассчитать общие финансовые расходы на одну или несколько перевозок.</span>
            <span class="opportunities__item"><span class="opportunities__number">03</span>Возможность обратной связи с пассажиром позволяет оперативно решить текущие вопросы, не превращая их в большие проблемы.</span>
            <span class="opportunities__item"><span class="opportunities__number">04</span>Связь с технической поддержкой осуществляется 24 часа 7 дней в неделю. Если вам не понятен функционал приложения или возникла нетипичная ошибка, наша команда обязательно поможет.</span>
            <span class="opportunities__item"><span class="opportunities__number">05</span>Вы можете заказать аренду грузового транспорта в Москве из любой точки мира, управлять перевозками дистанционно и оплачивать по безналичному расчету. Не нужно тратиться на междугородние и международные переговоры, искать офисы и банкоматы.</span>
        </div>
    </div>
</section>
