<section class="preview">
    <div class="wrapper">
        <h3 class="preview__title">Превращаем проблемы в оптимальные решения</h3>
        <p class="preview__description">В зависимости от вида грузового транспортного средства, вы можете решить широкий спектр задач для личных и коммерческих нужд.</p>
        <div class="preview__items">
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Борты</h5>
                    <p class="preview__text">Борты, или бортовые машины. Транспортные средства широко используются для перевозок небольших контейнеров, арматуры, строительного оборудования, заборных секций.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/gazel.png" alt="gazel" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Тенты</h5>
                    <p class="preview__text">Тенты, или транспортные средства, кузов которых укрыт указанным материалом. В них перевозятся твердые и сыпучие материалы, а также оборудование, не требующее специальных условий транспортировки.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/ford-blue.jpg" alt="ford" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Фургоны</h5>
                    <p class="preview__text">Предназначены для перевозки крупногабаритного груза в зависимости от внутреннего объема кузова.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/ford-small.jpg" alt="ford" class="preview__img">
                </div>
            </div>
            <div class="preview__item">
                <div class="preview__content">
                    <h5 class="preview__name">Рефрижераторы</h5>
                    <p class="preview__text">Внутри ТС поддерживается строго определенная температура. В них перевозятся скоропортящиеся продукты, лекарственные средства, лабораторное оборудование.</p>
                </div>
                <div class="preview__img-wrap">
                    <img src="./img/mitsibishi.jpg" alt="mitsubishi" class="preview__img">
                </div>
            </div>
        </div>
        <p class="preview__about">Но это далеко не все возможности грузового такси. Нужно перевезти мебель из одной квартиры в другую или вовсе на дачу, обращайтесь в Join 24. Если вы не знаете, какая именно требуется машина, обращайтесь в поддержку сервиса, и мы обязательно вам поможем. Не существует невозможных задач, существуют лишь варианты превращения вашей проблемы в оптимальные решения.</p>
    </div>
</section>
