<section class="rent-cargo">
    <img src="./img/mans.jpg" alt="mans">
        <div class="rent-cargo__content">
            <h2 class="rent-cargo__title">Если нужно сдать в аренду<br>грузовой транспорт</h2>
            <div class="rent-cargo__line"></div>
               <p class="rent-cargo__item">В нынешних реалиях экономическая ситуация может меняться очень часто. И если вчера компания приобрела автопарк грузовых транспортных средств, рассчитывая на определенный объем работы, то сегодня техника простаивает, принося убытки. </p>
               <p class="rent-cargo__item">
                Единственный выход – сдать в аренду, чтобы не только выйти в ноль, но и начать получать доход.
                Зарегистрировавшись в Join 24, вам не придется тратиться на дорогостоящую рекламу. </p>
               <p class="rent-cargo__item">
                Агрегатор сам покажет потенциальному пользователю вашу технику. Таким образом, у начинающего предпринимателя такие же шансы, как и у крупной транспортной компании.</p>
        </div>
</section>   
