<section class="rent">
    <div class="wrapper">
        <div class="rent__content">
            <h2 class="rent__title">Почему аренда грузового
                транспорта – это выгодно?</h2>
            <p class="rent__text">Аренда грузового автомобиля оформляется прямо в приложении Join 24. Цены одни из самых низких в Москве: прокат борта от 2400 (с НДС), фургона (изотерма) – от 1680 (с НДС), рефрижератора – от 1800 (с НДС) и тента – от 1440 (с НДС) рублей в час. Физические лица могут заказать машину непосредственно через мобильное приложение. Юридические лица и ИП должны предварительно зарегистрироваться.
            </p>
            <p class="rent__text">Обращайтесь в Join 24, и вы получите исправное ТС и пакет документов для бухгалтерии и налоговой инспекции. Взять грузовой автомобиль в аренду выгодно, когда покупка своей машины нерентабельна. Зачем тратить финансовые средства на содержание и налоги, когда их можно направить на развитие бизнеса и увеличение прибыли?</p>
        </div>
    </div>
</section>   
