<section class="service">
    <div class="wrapper">
        <h2 class="service__title">Высочайший уровень сервиса</h2>
        <p class="service__subtitle">Не всегда целесообразно приобретать грузовой транспорт в собственность. Если срочно нужна машина, регистрируйтесь в приложении Join 24. Сервис задает новые стандарты грузовых перевозок и такси, демонстрируя высочайший уровень сервиса.</p>
        <p class="service__subtitle">Для того, чтобы начать пользоваться сервисом, физическим лицам нужно скачать мобильное приложение и пополнить баланс. Для транспортных компаний – сначала руководитель получает доступ к административной панели, а затем через нее регистрирует водителей и грузовой транспорт, который планирует сдать в аренду. Руководитель компании – заказчика также получает административный доступ и затем регистрирует сотрудников.</p>
        <div class="service__items">
            <div class="service__item">
                <div class="service__item-wrap">
                    <div class="service__img-wrap">
                        <img src="./img/order1.png" alt="order" class="service__img">
                    </div>
                    <span class="service__description">Большой выбор авто для грузоперевозок.
                        Для каждой машины указаны год выпуска, предельная грузоподъемность.</span>
                </div>
            </div>
            <div class="service__item">
                <div class="service__item-wrap">
                    <div class="service__img-wrap">
                        <img src="./img/sitting.png" alt="monitor" class="service__img">
                    </div>
                    <span class="service__description">Управление онлайн: вы сможете пополнить баланс, взять или сдать в аренду грузовой транспорт.</span>
                </div>
            </div>
            <div class="service__item">
                <div class="service__item-wrap">
                    <div class="service__img-wrap">
                        <img src="./img/teamwork.png" alt="team" class="service__img">
                    </div>
                    <span class="service__description">Возможность подключения к одному аккаунту не только руководителя компании, а также сотрудников, ответственных за надлежащее оформление сопровождающих документов.</span>
                </div>
            </div>
            <div class="service__item">
                <div class="service__item-wrap">
                    <div class="service__img-wrap">
                        <img src="./img/report.png" alt="report" class="service__img">
                    </div>
                    <span class="service__description">Отображение статистики поездок в личном кабинете: география маршрута, протяженность, время непосредственной поездки, стоимость.</span>
                </div>
            </div>
            <div class="service__item">
                <div class="service__item-wrap">
                    <div class="service__img-wrap">
                        <img src="./img/mail.png" alt="mail" class="service__img">
                    </div>
                    <span class="service__description">Обмениваться документами через ЭДО, без физической отправки документов.</span>
                </div>
            </div>
        </div>
    </div>
</section>
